<div class="container">
  <!-- cutted row -->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <!-- cutted row -->
      <!-- [srvElement]="serverElement" -->
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [name]="serverElement.name"
      >
        <!-- NGCONTENT START-->
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
        <!-- NGCONTENT END-->
      </app-server-element>
    </div>
  </div>
</div>
